specVersion: 0.0.4
description: >-
  gTrade point data
schema:
  file: ./schema.gql
dataSources:
  - kind: ethereum
    name: GNSTradingCallbacksV6_4_1
    network: '{{network}}'
    source:
      address: '{{gnsTradingCallbacksV6_4_1.address}}'
      abi: GNSTradingCallbacksV6_4_1
      startBlock: {{gnsTradingCallbacksV6_4_1.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - AggregateTradingStats
      abis:
        - name: GNSTradingCallbacksV6_4_1
          file: ./abis/GNSTradingCallbacksV6_4_1.json
        - name: GNSPairsStorageV6
          file: ./abis/GNSPairsStorageV6.json
      eventHandlers:
        - event: MarketExecuted(indexed uint256,(address,uint256,uint256,uint256,uint256,uint256,bool,uint256,uint256,uint256),bool,uint256,uint256,uint256,int256,uint256)
          handler: handleMarketExecuted
        - event: LimitExecuted(indexed uint256,uint256,(address,uint256,uint256,uint256,uint256,uint256,bool,uint256,uint256,uint256),indexed address,uint8,uint256,uint256,uint256,int256,uint256,bool)
          handler: handleLimitExecuted
      file: ./src/handlers/GNSTradingCallbacksV6_4_1/index.ts